
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Teko:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    color: var(--text-color);
    --bg-dark: #131313;
    --main-text-color: rgb(255, 255, 255);
    --additional-text-color: rgb(170, 164, 164);
    --accent-color: rgb(229, 25, 55);
}

img {
    display: block;
    width: 100%;
    }
    
.header-container {
        max-width: 1200px;
        height: 800px;
    }
    