#header {
    background: url(../img/Banner-car-img.jpeg) no-repeat center top;
    background-size: cover;
    background-position: center;
    min-height: 700px;
}

#header-img {
    width: 100px;
    height: 30px;
}

.header-container {
    position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:transparent;
}

#nav-bar > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    align-items: center;
}
li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-text-color);
}

.banner-container {
    display: flex;
    justify-content:left;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    }
.title {
    font-family: 'Teko', sans-serif;
    color: var(--main-text-color);
    font-size: 60px;
    font-weight: 500;
}